html {
    scroll-padding-top: 70px; /* height of sticky header */
}
body{
    padding: 0;
    margin: 0;
    color: #838383;
    font-family: 'Playfair Display', serif;
    line-height: 1.9em;
}
h1{
    font-size: 3.5em!important;
    font-weight: 900;
}
h2{
    font-size: 2em;
    font-weight: 700;
    color: #5680e9;
}
h3{
    font-size: 1.35em;
    font-weight: 700;
    color: #5680e9;
}
h4{
    font-size: 1.2em;
    font-weight: 500;
}
h5{
    font-size: 1.3em;
    font-weight: 500;
}
.navbar-collapse .nav-item{
    padding: 0.5em 0em 0.5em 0em;
}
.nav-item a{
    font-size: 1.1em;
    color: #eeeee4!important;
}
.card{
    border:none;
    box-shadow: 0 2px 2px rgba(0,0,0,.1), 0 4px 4px rgba(0,0,0,.05), 0 8px 8px rgba(0,0,0,.05), 0 16px 16px rgba(0,0,0,.05), 0 32px 32px rgba(0,0,0,.05);
    margin: 0 auto;
}
.img-container img, .img-container1 img{
    width: 100%;
}
.img-container, .img-container1{
    position: relative;
    z-index: 2;
}
.img-container::before{
    position: absolute;
    content: "";
    width: 20%;
    height: 80%;
    top: -1em;
    left: -1em;
    background-color: transparent;
    border-left: 1rem solid #8860d0;
    border-top: 1rem solid #8860d0;
}
.img-container1::after{
    position: absolute;
    content: "";
    width: 20%;
    height: 80%;
    top: -1em;
    right: -1em;
    background-color: transparent;
    border-right: 1rem solid #8860d0;
    border-top: 1rem solid #8860d0;
}
.btn-primary{
    background-color: #8860d0!important;
    border: 1px solid #8860d0;
}
.slick-prev, .slick-next{
    width: 25px!important;
    height: 25px!important;
    border-radius: 50%;
    background-color: #5680e9!important;
    color: white!important;
}
.slick-slide:focus{
    outline: none;
}
.slick-prev:before, .slick-next:before{
    font-size: 26px!important;
    line-height: 1.03;
}
.image img{
    width: 50%;
}
footer>div{
    justify-content: space-between;
}
@media only screen and (max-width: 600px) {
    .slick-next{
        right: -3px!important;
    }
    .slick-prev{
        left: -3px!important;
    }
    footer>div{
        justify-content: center;
    }
  }

  @media only screen and (max-width: 767px) {
    .first .text, .second .text{
        border: none!important;
    }
    .second{
        flex-direction: column-reverse;
    }
    .image img{
        width: 15%;
    }
  }